.refund-tb{
    padding-top: 150px;
}
.return-plc
{
    text-align: justify;
    padding-bottom: 50px;;
}
.non-return
{
    text-align: justify;
}
.situation-css{
    padding-top: 30px;
}
.refund-conten{
    margin-top: 30px;
}
.late-refund{
    margin-bottom: 20px;
}
.new-refund{
    margin-bottom: 30px;
}
.sales-item{
    margin-bottom: 30px;
}
.gift-tb{
    margin-top: 20px;
}
.shipping{
    margin-top: 30px;
    margin-bottom: 20px;
}